.container .notification{
  margin-bottom:0 !important;
}

.icon-container {
  margin-right: 16px; /* Espacio entre el ícono y el contenido */
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
}

.service-icon {
  font-size: 24px; /* Ajusta el tamaño del ícono según tus necesidades */
  color: var(--color-dark-brown); /* Cambia el color del ícono si es necesario */
}


.service-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.service-title {
  text-decoration: none;
  color: var(--color-dark-brown);
}

.service-description {
  margin: 8px 0 0; /* Espacio superior e inferior */
  color: #666;
}
