
.info-text .title-brown {
  color: var(--color-dark-brown);
}

.about-info .title-brown{
  color: var(--color-dark-brown);
}

.titles-information-box{
  margin-bottom: 10px;
}
.title-1{
  margin-top: 10px;
}
.about-section .content {
  display: flex; /* Usamos flexbox para alinear la imagen y el texto */
  align-items: center; /* Alinea verticalmente */
  gap: 20px; /* Añade un espacio entre la imagen y la información */
  max-width: 100%; /* Asegura que el contenido no se desborde */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si es necesario */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.about-image {
   /* Ajusta el tamaño de la imagen */
  max-width: 100%; /* Asegura que no se desborde */
}

.about-info {
  flex: 2; /* Ajusta el tamaño de la información */
  max-width: 100%; /* Asegura que no se desborde */
}

.about-image img {
  max-width: 100%; /* Asegura que la imagen no sea más grande que su contenedor */
  height: auto;
  display: block; /* Elimina cualquier espacio adicional debajo de la imagen */
}

.yo-informal{
  height: 700px;
  min-width: 390px;
}

.column-img {
  display: flex;             /* Activa Flexbox */
  justify-content: center;   /* Centra horizontalmente */
  align-items: center;       /* Centra verticalmente */
  height: 100%;              /* Asegúrate de que el div tenga altura */
}


@media (max-width: 768px) {
  .columns .column-img {
    height: auto;                 /* Deja que la altura se ajuste según el contenido */
    padding: 10px;   
    display: flex;
    justify-content: center;
    align-items: center;           
  }

  .column-img img {
    max-width: 80%;               /* Ajusta el tamaño de la imagen para móviles */
    margin: 0 auto;               /* Centra la imagen horizontalmente en móviles */
  }
  .yo-informal{
    height: 700px;
    margin-left: 14rem;
  }
  
}